@font-face {
  font-family: 'GalanoGrotesque-Bold';
  src: url('./37AC34_0_0.eot');
  src: url('./37AC34_0_0.eot?#iefix') format('embedded-opentype'),
    url('./37AC34_0_0.woff2') format('woff2'),
    url('./37AC34_0_0.woff') format('woff'),
    url('./37AC34_0_0.ttf') format('truetype');
}